.monument {
    margin-top: 150px;
    float: left;
    cursor: pointer;
    
    
   
    
}
.monument span {
    color:rgb(221, 192, 28);
}
.monument .dark {

    background-color: #343A40 ;
}

.removeLine{
    text-decoration: none;
}



